<launch>
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
<param name="resolution" value="0.05" />

<param name="frame_id" type="string" value="odom" />

<!-- maximum range to integrate (speedup!) -->
<param name="sensor_model/max_range" value="5.0" />
/camera_front/depth/points
<!-- data source to integrate (PointCloud2) -->
<!-- <remap from="cloud_in" to="/camera/depth/points" /> -->
<!-- <remap from="cloud_in" to="/camera/depth/points" /> -->

<remap from="cloud_in" to="/camera_front/depth/points" />


</node>
</launch>